.heading-sentinel {
  position: absolute;
  top: -50vh;
  left: 0;
  height: 0;
}

.tech-group {
  display: grid;
  padding: 0;
  margin: 0;
  grid-gap: 8px;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
}

.tech-item {
  list-style: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  color: #e3e3e3c7;
  text-align: center;
}

.blog-post {
  color: #ccc;

  ol li {
    list-style-type: number;
  }

  p {
    font-size: 17px;
    line-height: 33px;
  }

  h2,
  h3,
  h4 {
    position: relative;
    outline: none;

    &[data-focus-visible-added] {
      outline: 2px solid #fff;
      outline-offset: 3px;
    }
  }

  h2,
  h3,
  h4 {
    font-weight: 400;
  }

  h2 {
    margin: 55px 0;
    font-size: 35px;

    .heading-sentinel {
      top: calc(-50vh + 55px + 35px - 50px);
    }

    &:first-child {
      .heading-sentinel {
        top: calc(-20vh);
        // top: -300px;
      }
    }
  }
  h3 {
    margin: 35px 0;
    font-size: 25px;

    .heading-sentinel {
      top: calc(-50vh + 35px + 25px - 50px);
    }
  }
  h4 {
    margin: 25px 0;
    font-size: 20px;

    .heading-sentinel {
      top: calc(-50vh + 25px + 20px - 50px);
    }
  }
}

.img-container,
.video-container {
  position: relative;
  margin-left: -12px;
  width: calc(100% + 24px);
  height: 200px;
  background: #000;

  &.media-xs-small {
    height: 90px;
  }

  img,
  video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.table-of-contents {
  margin-top: 50px;
}

.hyperlink {
  color: #83aeff;
  transition: 250ms color;

  &:hover {
    color: var(--btn-border);
  }
}

@media (min-width: 400px) {
  .img-container,
  .video-container {
    height: 250px;
  }
}

@media (min-width: 500px) {
  .tech-group {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .blog-post {
    h2 {
      font-size: 45px;

      .heading-sentinel {
        top: calc(-50vh + 25px + 45px - 50px);
      }
    }
    h3 {
      font-size: 30px;

      .heading-sentinel {
        top: calc(-50vh + 25px + 30px - 50px);
      }
    }
    h4 {
      font-size: 25px;

      .heading-sentinel {
        top: calc(-50vh + 25px + 20px - 50px);
      }
    }
  }

  .img-container,
  .video-container {
    margin: 0;
    width: 100%;
    height: 400px;

    &.media-medium {
      height: 300px;
    }

    &.media-small {
      height: 200px;
    }

    &.media-xs-small {
      height: 150px;
    }
  }
}

@media (min-width: 675px) {
  .blog-post {
    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 1920px) {
  .table-of-contents {
    margin-top: 50px;
  }
}
