.contact-me {
  margin-top: -200px;

  .list-item {
    display: inline-flex;
    margin: 20px 0;
  }

  .inputs,
  .inputs-label {
    display: flex;
    flex-direction: column;
  }

  .label-container {
    display: flex;
    margin-left: 12px;
  }

  .label-error {
    color: #fff;
    margin-left: 25px;
    background: #c71212;
  }

  .inputs {
    text-align: left;
  }
  .inputs-label {
    margin: 10px 0;
    margin-bottom: 4px;
  }

  input,
  textarea {
    color: #ccc;
    font-size: 16px;
    padding: 10px;
    background: #0b1425;
    border-style: none;
    border-radius: 10px;
    border: 4px solid #0b1425;
    outline: none;

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 50px #1a2944 inset !important; /* Change the color to your own background color */
      -webkit-text-fill-color: #ccc;
      font-size: 16px;
    }

    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 50px #1a2944 inset !important; /*your box-shadow*/
      -webkit-text-fill-color: #ccc;
      font-size: 16px;
    }

    &:focus {
      -webkit-appearance: none;
      border-color: #3e3ec5;
      box-shadow: 0 0 10px 0px #0000ff85;
      -webkit-box-shadow: 0 0 10px 0px #0000ff85;
    }
  }

  .inputs-label {
    font-size: 20px;
  }

  .contact-container {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
  }

  .card {
    padding: 20px;
  }

  textarea {
    height: 180px;
    margin-bottom: 20px;
  }

  .btn-send-message {
    border: none;
    border-radius: 10px;
    width: 180px;
    height: 65px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
    background: #4a57be;
    box-shadow: 0 5px 0 #1f1f75;
    transition: 300ms background-color, 300ms color;

    // .btn-send-message__content {
    //   animation: Reveal 500ms;
    // }

    &:hover,
    &.focus-visible {
      background: var(--btn-border);
      color: #000;
    }

    &.focus-visible {
      outline: 2px solid #fff;
      outline-offset: 5px;
    }
  }
}

.contact-info-title {
  font-size: 25px;
  font-family: "Comfortaa";
  margin: 0;
  font-weight: 400;
  padding: 30px 0;
  background: linear-gradient(90deg, rgba(10, 27, 61, 1), rgba(10, 27, 61, 0));
}

.card.email-box {
  padding: 15px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content {
    text-align: left;
    max-width: min-content;
    margin: 10px 28px;
    font-size: min(4.5vw, 16px);
  }
}

.card.card-contact-info {
  --s-link-alpha-color: #142546;
  border-radius: 20px;
  padding: 0;
  font-size: 18px;
  overflow: hidden;
  margin-bottom: 50px;

  .icon {
    margin-right: min(4.5vw, 20px);
  }
}

@media (min-width: 500px) {
  #contact-me {
    padding: 100px 30px;
    padding-bottom: 200px;

    input,
    textarea {
      font-size: 20px;
    }

    input {
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px #223155 inset !important; /* Change the color to your own background color */
        -webkit-text-fill-color: #fff;
      }
      &:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 50px #223155 inset !important; /*your box-shadow*/
        -webkit-text-fill-color: #fff;
      }
      &:-webkit-autofill::first-line {
        font-size: 20px;
        // padding: 10px;
      }
    }

    .card {
      padding: 50px;
    }
    .inputs-label {
      font-size: 25px;
    }
    textarea {
      height: 300px;
    }

    .btn-send-message {
      top: -100px;
    }
  }
}

@media (min-width: 1015px) {
  .contact-me {
    padding-bottom: 300px;

    form {
      width: 80%;
    }
  }

  .card.email-box {
    width: 76%;
  }

  .contact-info {
    .content {
      margin: auto;
      font-size: 18px;
    }
  }

  .card.card-contact-info {
    position: absolute;
    top: 58px;
    right: 0;
    background: #233556;
    --s-link-alpha-color: #233556;
    border-radius: 25px;
    width: 38%;
    height: 55%;
    font-size: 18px;
  }

  .contact-info-title {
    font-size: 33px;
  }
}
