.icons {
  display: flex;
  flex-wrap: wrap;
}

.tech-icons {
  border: none;
  padding: 0;
  background: none;
  color: #fff;
  margin: 18px 0;
  filter: grayscale(1);
  opacity: 0.7;
  -webkit-tap-highlight-color: transparent;
  transition: 250ms opacity, 250ms filter;

  &[data-focus-visible-added] {
    outline: 2px solid #fff;
    outline-offset: 5px;
  }

  &.active {
    filter: grayscale(0);
    opacity: 1;

    .icons {
      margin-bottom: 5px;
    }
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;

  .border {
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #677082, rgba(103, 112, 130, 0) 95%);
  }
}

.cevron {
  position: relative;
  height: 15px;
  width: 15px;

  svg {
    height: 100%;
    width: 100%;
  }

  &::after {
    position: absolute;
    content: "";
    top: -17px;
    left: -17px;
    width: 50px;
    height: 50px;
    background: none;
  }
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 8px;
}

.expanded {
  .text,
  .title,
  .border,
  .icon {
    opacity: 0;
  }
  .text,
  .title,
  .border {
    animation: Reveal 250ms 400ms forwards;
  }
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;

  .title {
    margin-top: 5px;
    opacity: 0;
  }

  .icon {
    width: 35px;
    height: 35px;
    margin: 0;
    opacity: 0;
  }
}

.card {
  margin: 50px 0;
  max-width: 475px;
  background: var(--card-bg);
  border-radius: 20px;
  color: var(--card-txt);
  box-shadow: 0 8px 16px 1px #00000042;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: -50px;
}

.card-content {
  text-align: center;
  padding: 0px 15px 15px;
  display: flex;
  flex-direction: column;
}

.card-img-container {
  position: relative;
}

.card-img {
  display: block;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 14px 24px -6px #13131391;
}

.card-title {
  display: flex;
  font-size: 25px;
  margin-top: 35px;
  margin-bottom: 0;

  span {
    display: inline-block;
  }
}

.card-link-container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -16px;
  width: 100%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.7));
}

.card-pg {
  text-align: left;
  font-size: 18px;
  margin-top: 0;
  // text-align: center;
  line-height: 1.5;
}

.card-link-item {
  display: inline-block;
  background: #203663;
  color: #fff;
  border: 2px solid #203663;
  // When there's border radius ,if the type of element is inline,
  // it will have extremely faint broken secondary border,
  // I think what's happening is parts of element's content is bigger than the border
  // The fix is to set the element to block
  // However in IE and Edge, there's always a faint outline on border, solution is to set border to transparent
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 5px;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 250ms border-color, 250ms color;

  span {
    margin: 0 5px;
  }

  &.focus-visible {
    color: var(--btn-border);
    border-color: var(--btn-border);
  }

  &.focus-visible {
    outline: 2px solid #fff;
    outline-offset: 5px;
  }

  &:last-child {
    margin: 0;
  }
}

.card-read-more {
  position: relative;
  text-align: center;
  background: #203663;
  color: #fff;
  border: 2px solid #203663;
  padding: 8px 35px;
  font-size: 16px;
  border-radius: 10px;
  margin: 0 auto;
  transition: 250ms border-color, 250ms color;

  &.focus-visible {
    color: var(--btn-border);
    border-color: var(--btn-border);
  }

  &.focus-visible {
    outline: 2px solid #fff;
    outline-offset: 5px;
  }
}

.card-loader {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20px;
  margin-right: 5px;

  .loader {
    height: 100%;
  }
}

@media (min-width: 350px) {
  .card-link-item {
    font-size: 16px;
  }
}

@media (min-width: 500px) {
  .card-content {
    padding: 0px 25px 25px;
  }

  .card-pg {
    font-size: 20px;
  }

  .card {
    margin: 50px 20px;
  }

  .card-link-container {
    justify-content: flex-end;
    padding: 0 25px;
  }

  .card-link-item,
  .card-read-more {
    font-size: 18px;
  }

  .card-title {
    font-size: 25px;
  }
}

@media (min-width: 800px) {
  .card-pg {
    font-size: 22px;
  }

  .card-title {
    font-size: 32px;
  }
}

@media not all and (pointer: coarse) {
  .tech-icons {
    &:hover {
      opacity: 1;
    }
  }

  .card-link-item,
  .card-read-more {
    &:hover {
      color: var(--btn-border);
      border-color: var(--btn-border);
    }
  }
}
