.table-of-contents {
  position: relative;
  color: #98a6be;
  line-height: initial;
}

.aside {
  position: absolute;
  top: 0;
  left: 800px;
  padding-left: 70px;
  width: max-content;
  height: 100%;

  .table-of-contents {
    color: #93a1bb;
  }

  .content-item {
    padding-left: 25px;
  }

  &.active {
    .inner {
      opacity: 1;
    }
  }

  &:hover {
    .inner {
      opacity: 1;
    }
  }

  .inner {
    position: sticky;
    top: 150px;
    opacity: 0.7;
    transition: 250ms opacity;
  }

  .content-item {
    font-size: 16px;
    padding-right: 25px;
    height: 33px;
  }
}

.table-root {
  position: relative;
}

.marker {
  position: absolute;
  top: 6px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  padding: 5px;
  color: #fff;
  pointer-events: none;

  svg {
    height: 100%;
  }
}

.content-item {
  display: block;
  border: none;
  background: none;
  width: 100%;
  height: 33px;
  padding: 6px 0;
  cursor: pointer;
  text-align: left;
  color: inherit;
  outline: none;
  transition: 250ms background-color, 250ms color;

  &[data-focus-visible-added] {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    outline: 2px solid #fff;

    .content-item-text::after {
      transform: scaleX(1);
    }
  }

  &.active {
    color: #fff;
  }
}

.content-item-text {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #98a6be;
    transform: scaleX(0);
    transform-origin: left;
    transition: 250ms transform;
  }
}

.table-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.dropdown {
  position: fixed;
  top: 50px;
  right: 0;
  width: 100%;
  overflow: hidden;

  .content-item {
    padding-left: 25px;

    &[data-focus-visible-added] {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  .inner {
    display: flex;
    margin-bottom: 20px;
    padding: 25px 12px;
    background: #0b1834;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 16px 15px -12px #000000c4;
    font-size: 18px;
    transform: translateY(calc(-100% - 20px));
    transition: 300ms transform;

    &.active {
      transform: translateY(0%);
    }
  }
}

.sentinel {
  position: absolute;
  bottom: 50px;
  height: 0;
  width: 100%;
}

@media (min-width: 400px) {
  .marker {
    top: 6px;
    height: 25px;
    width: 25px;
  }

  .content-item {
    height: 36px;
    padding-right: 50px;
  }

  .dropdown {
    position: absolute;
    width: auto;

    .inner {
      width: max-content;
    }
  }
}

@media (min-width: 500px) {
  .content-item {
    padding-left: 21px;
    padding-right: 100px;
  }

  .dropdown {
    .inner {
      font-size: 20px;
      padding: 30px;
    }
  }
}

@media (min-width: 1680px) {
  .content-item {
    padding-left: 21px;
  }

  .marker {
    top: 7px;
    height: 21px;
    width: 21px;
  }
}

@media (min-width: 1900px) {
  .aside {
    padding-left: 150px;

    .content-item {
      height: 36px;
      font-size: 20px;
    }

    // .inner {
    //   opacity: 0.7;
    // }
  }

  .marker {
    top: 6px;
    height: 25px;
    width: 25px;
  }
}

@media not all and (pointer: coarse) {
  .content-item {
    &:hover {
      background: rgba(0, 0, 0, 0.3);
      color: #fff;

      .content-item-text::after {
        transform: scaleX(1);
      }
    }
  }

  .dropdown {
    .content-item {
      &:hover {
        background: rgba(0, 0, 0, 0.4);
      }
    }
  }
}
